.main {
  color: var(--black-color);
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 1rem;
}

.header {
  background-color: var(--primary-color);
  padding: 0.5rem 0;
  margin-bottom: 1.2rem;
}

.header .header_inside h3 {
  font-weight: 500;
}

.header .header_inside .wrapper {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  margin-top: 0.35rem;
  flex-wrap: wrap;
}

.header .header_inside > .wrapper .child {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.header .header_inside > .wrapper .child > :first-child {
  color: #bababa;
  font-size: var(--small-font-size);
  font-weight: 400;
}

.main .flightDetails {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
  width: 100%;
}

.main .disclaimer {
  display: grid;
  grid-template-columns: 30px 1fr;

  font-size: var(--small-font-size);
}

.main .flightDetails .tickets {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  border-radius: 0.35rem;
  padding: 1.55rem 1.15rem;
  max-width: 650px;
  outline: 1px solid #ccc;
}

.main .flightDetails .tickets:hover {
  box-shadow: 0 0 18px -6px;
}

.main .flightDetails .tickets button {
  width: max-content;
  align-self: flex-end;
  padding: 0.4em 0.75em;
  transition: background-color 0.2s;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.main .flightDetails .tickets button:hover {
  background-color: var(--button-hover);
  transition: background-color 0.2s;
}

.main .flightDetails .tickets:first-child {
  margin-top: 0;
}

.main .flightDetails .tickets .child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
  margin-top: 0;
}

.main .flightDetails .tickets .child .info {
  margin-right: 2rem;
}

.main .flightDetails .tickets .child .info span {
  margin: 0 0.65rem;
}

.main .flightDetails .tickets .child .info span:first-child {
  font-size: var(--h3-font-size);
}

.main .flightDetails .tickets .child .info span:last-child {
  color: #515151;
}

.main .flightDetails .tickets .child #price {
  font-size: var(--h2-font-size);
}

.main .sidebar {
  height: max-content;
  padding: 0.5rem 0.8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #fff;
  border-radius: 0.35rem;
  outline: 1px solid #ccc;
}

.main .sidebar h3 {
  text-decoration: underline;
}

.main .sidebar .price {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.main .sidebar .price::after {
  display: flex;
  content: "";
  border-top: 1px solid rgb(186, 186, 186);
}

.main .sidebar .price span {
  padding: 0.3em 0.4em;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.main .sidebar .price span:hover {
  background-color: #ccc;
  transition: background-color 0.1s;
}

.main .sidebar .departure .departure_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.3em 0.4em;
  padding-left: 0;
  row-gap: 0.25rem;
}

.main .sidebar .departure::after {
  display: flex;
  content: "";
  border-top: 1px solid rgb(186, 186, 186);
}

.main .sidebar .departure .departure_wrapper .child {
  border-radius: 0.35rem;
  padding: 0.35rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.main .sidebar .departure .departure_wrapper .child span {
  font-size: var(--small-font-size);
}

.main .sidebar .departure .departure_wrapper .child span:last-child {
  color: #494949;
}

.main .sidebar .departure .departure_wrapper .child:hover {
  background-color: #ccc;
  transition: background-color 0.1s;
}

.main .sidebar .airline .child {
  padding: 0.35rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  border-radius: 0.35rem;
}

.main .sidebar .airline .child > span:hover {
  background-color: #ccc;
  transition: background-color 0.1s;
}

.main .sidebar .airline .child span {
  padding: 0.3em 0.4em;
  border-radius: 0.35rem;
  cursor: pointer;
}

#activeFilter {
  background-color: #ccc;
}

@media only screen and (max-width: 480px) {
  .header .header_inside .wrapper {
    align-items: center;
    justify-content: space-between;
    row-gap: 0.8rem;
  }
}

.main #filter_ico {
  display: none;
}

@media only screen and (max-width: 1124px) {
  .main .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px auto;
    left: 50%;
    width: 95%;
    transform: translateX(-50%) translateY(0);
    visibility: visible;
    opacity: 1;
    transition: transform, opacity, visibility, 0.4s;
  }

  .main #hidden {
    transform: translateX(-50%) translateY(calc(100% + 10px));
    visibility: hidden;
    opacity: 0;
    transition: transform, opacity, visibility, 0.4s;
  }

  .main .disclaimer {
    margin: 2rem auto;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .main #filter_ico {
    display: block;
    color: red;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 10px -4px;
  }

  .main .flightDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .main .flightDetails .tickets {
    max-width: 100%;
    margin: 0;
  }

  .main .flightDetails .tickets .child .info span:first-child {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 424px) {
  .main .flightDetails {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .main .flightDetails .tickets .child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .main .flightDetails .tickets {
    display: flex;
    flex-direction: column;
  }

  .main .flightDetails .tickets .child .info {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .main .flightDetails .tickets button {
    align-self: center;
    width: 100%;
    justify-content: center;
  }
}
