@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --biggest-font-size: 2.75rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --bg-color: #e4e4e4;
  --primary-color: #05203c;
  --button-color: #0362e3;
  --button-hover: #045cd8;
  --black-color: #09090b;
  --text-color: #fff;
}

@media screen and (min-width: 1023px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

body {
  min-height: 100vh;
  max-width: 100%;
  font-size: var(--normal-font-size);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--bg-color);
  color: var(--text-color);
}

input {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@media only screen and (max-width: 634px) {
  .container {
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.rdp {
  color: var(--black-color);
}
